@require('./variable.styl')
@require('./fontSize.styl')

  .layout
    display grid 
    grid-template-rows 55px 1fr
    background-color #fff
    position relative  
    header
      display flex
      align-content center
      grid-column 1/span 3
      background-color neutralLightest
      padding 10px 0
      .container
        display flex
        justify-content space-between
        align-items center
        .menu-btn
          border none
          background-color neutralLightest
          width 25px
          height 25px
          cursor pointer
        svg
          width 100%
          height 100%
    .sidebar
      width 100vw
      height 100vh
      max-height 100vh
      grid-column 1/span 3
      position absolute
      padding: 10px 20px
      top 45px
      background neutralLightest
      transform translateX(100%)
      transition transform 0.7s linear
      z-index 2
    .active
      transform translateX(0%)
      .container
        .sidebar-item
          display flex
          flex-direction column
          gap 20px
          font-size smaller
          &:nth-child(1)
            margin-bottom 40px  
          li a
            display flex
            flex-direction column
            justify-content center
            align-items center
            color Blue
    main
      grid-column: 1/span 3
      padding 10px 0

      
     
