@require('./variable.styl')
@require('./fontSize.styl')
  .layout
    display grid 
    grid-template-rows 55px 1fr
    background-color #fff
    position relative  
    .pages-header
      display flex
      align-content center
      grid-column 1/span 3
      background-color neutralLightest
      padding 10px 0
      .container
        display flex
        justify-content space-between
        align-items center
        .menu-btn
          border none
          background-color neutralLightest
          width 25px
          height 25px
          cursor pointer
        svg
          width 100%
          height 100%
    .sidebar
      width 100vw
      height 100vh
      max-height 100vh
      grid-column 1/span 3
      position absolute
      padding: 10px 20px
      top 45px
      background neutralLightest
      transform translateX(100%)
      transition transform 0.7s linear
      z-index 2
    .active
      transform translateX(0%)
      .container
        .sidebar-item
          display flex
          flex-direction column
          gap 20px
          font-size smaller
          &:nth-child(1)
            margin-bottom 40px  
          li a
            display flex
            flex-direction column
            justify-content center
            align-items center
            color Blue
    main
      grid-column: 1/span 3
      padding 25px 0
      .main-header
        display flex
        justify-content space-between
        align-items center
        gap 60px
        margin-bottom 10px
        .create-letter-btn
          display flex
          align-items center
          justify-content center
          background-color darkBlue
          gap 0.5rem
          color White
          border 1px solid #89959f
          border-radius 1.5rem
          padding 0.7rem 2rem
          font-size larger
          cursor pointer
          &:hover
            background-color darkerBlue
          svg
            fill white
            width 30px
            height 30px
            stroke currentColor
      .search-box-wrapper
        width 100%
        display flex
        justify-content space-between
        align-items center
        background #ffffff
        border-radius 10px
        padding 0.625rem 1rem
        box-shadow 0px 2px 4px 1px neutralLighter
        .search-form
          display flex
          align-items center
          border 1px solid neutralLighter
          border-radius 10px
          overflow hidden
          &:hover
            border-color Blue
          input
            height 100%
            padding: 7px 10px
            border none
          button
            display flex
            align-items center
            justify-content center
            background-color inherit
            padding 7px 10px
            border none
            border-right 1px solid neutralLighter
            cursor pointer
            svg
              width 24px
              height 24px
              fill neutralLighter
        .page-info
          font-weight 600
          font-size small
          .page-header-info
            color Blue
            margin-right 5px
    .main-content
      display flex
      gap 60px
      .user-card
        display flex
        flex-direction column
        justify-content center
        align-items center
        gap 10px
        background-color neutralLightest
        padding 1.5rem 0.5rem
        border-radius 10px
        box-shadow 0px 2px 4px 1px neutralLighter
        img
          border-radius 100%
          overflow hidden
          margin-top 1rem
          width 50%
          height 50%
          object-fit cover
        .user-name
          font-size large
        .user-organ
          display flex
          justify-content center
          align-items center
          color darkBlue
          background #c1daff
          border-radius 0.9375rem
          padding 5px 1.5rem  
          text-overflow ellipsis
          white-space nowrap
          font-size small
        .user-unit
          color neutralLighter
      .content
        width 100%
