@require('./variable.styl')
@require('./fontSize.styl')
@font-face 
  font-family IranSans_Black
  src url(/fonts/iran-sans/IRANSansWeb_Black.woff)


@font-face 
  font-family IranSans_Bold
  src url(/fonts/iran-sans/IRANSansWeb_Bold.woff)

@font-face 
  font-family IranSans_Light
  src url(/fonts/iran-sans/IRANSansWeb_Light.woff)

@font-face 
  font-family IranSans_Medium
  src url(/fonts/iran-sans/IRANSansWeb_Medium.woff)

@font-face 
  font-family IranSans_UltraLight
  src url(/fonts/iran-sans/IRANSansWeb_UltraLight.woff)

@font-face 
  font-family IranSans_Web
  src url(/fonts/iran-sans/IRANSansWeb.woff)

@font-face {
  font-family IranSans_Regular
  src url(/fonts/iran-sans/IRANSansWeb.woff)
}

*
  direction rtl
  box-sizing border-box
  font-family IranSans_Regular
  margin 0
  padding 0
  outline none
  text-transform capitalize

body
  overflow-x hidden
  min-height 100vh 
  outline none
  li
    list-style none
  a
    text-decoration none
  
.default-btn
  background-color #0053c0
  color #F1FFFE
  text-align center
  border none
  border-radius 10px
  padding 5px 10px
  cursor pointer
  font-size small
  
.container
  width 95%
  margin 0 auto  
.add-letter-form
  label
    font-size smaller
    cursor pointer
    user-select none
  input ,textarea
    border 1px solid neutralLighter
    width 100%
    border-radius 10px
    text-align right
    padding 5px 10px
    width 100%
    resize none
    font-size small
    &:hover
      border-color blueAzure
  textarea
    min-height: 3rem  
    height 10vh 
    