body
  background-color: rgb(255,51,25)

.nothing
  color: red
  display: flex
  &:hover
    backgroud-color: #fff
    &:active
      color: white

.another
  color: white
  &:hover
    color goldenrod
    &:active
      color: bisque
