
@require('./variable.styl')
@require('./fontSize.styl')
.profile
  position relative
  user-select none
  border 1px solid transparent
  border-bottom none
  border-radius  10px 10px 0 0
  padding 5px 10px
  margin-right auto
  text-align center
  cursor pointer
  .user-profile-info
    display flex
    gap 15px
    align-items center
    .user-info
      display flex
      flex-direction column
      justify-content center
      align-items center
      font-size smaller
      color neutral
    .user-position
      display flex
      align-items center
      gap 5px
      svg
        width 16px
        height 16px
        stroke neutral
  .profile-image
    width 2rem
    height 2rem
    img
      width 100%
      height auto
      object-fit cover
      border-radius 100%
  .user-role
    height 0
    border 1px solid transparent
    border-top none
    border-radius 0 0 10px 10px
    width 7.6rem
    position absolute
    left -1px
    top 48px
    cursor pointer
    background-color white
    z-index 2
    overflow hidden
    li
      padding 5px 0
      font-size small
      &:hover
        background-color neutralLightest
.active-profile
  border-color blueAzure
  svg 
      transform rotate(-180deg)
  .user-role
    height fit-content
    border-color blueAzure