primaryDarker= #134D3F
primaryDark= #137160
Primary= #35BE9D
primaryLight= #84F8E3
primaryLighter= #D6FCF3
primaryLightest= #F1FFFE
black= #000000
neutralDark= #333333
neutral= #595959
neutralLight= #939393
neutralLighter= #B7B7B7
neutralLightest= #F8F8F8
redDarker= #850a0a
redDark= #ce1313
red= #fd2e2e
redLight= #f1a7a7
green= #178604
greenDark= #0e5B02
greenDarker= #043c0d
greenLight= #7fcf72
greenLighter= #ADFBAq
white= #ffffff
Blue= #0053c0
blueAzure= #1F80FF
blueLigth= #c1daff